/* Appliquer une police Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

body {
  background: linear-gradient(to right, #380000, #730000, #841515, #be0000);

  font-family: 'Poppins', sans-serif;
  text-align: center; /* Centrer le contenu */
  padding: 20px;
}

h1, h2, h3,h4{
  color: #ffffff;
  font-size: 3rem;
}

p, li, a {
  color: #ffffff;
  font-size: 1.1rem;
}

p {
  text-align: left;
  max-width: 800px;
  margin: 0 auto 20px auto;
  line-height: 1.6;
}

a {
  text-decoration: none;
  color: #ffffff;
}
a:hover {
  text-decoration: underline;
}
button {
  background: linear-gradient(135deg, #ff6f00, #fa9b03); /* Dégradé doré */
  color: rgb(0, 0, 0);
  border: none;
  padding: 12px 28px;
  font-size: 1rem;
  border-radius: 10px;
  cursor: pointer;
  transition: all 0.3s ease;
  font-weight: bold;
  box-shadow: 0 4px 10px rgba(0,0,0,0.3);
}

/* Effet au survol */
button:hover {
  background: linear-gradient(135deg, #ff8902, #ff8800);
  transform: scale(1.05);
  box-shadow: 0 6px 14px rgba(0,0,0,0.4);
}

/* Effet quand on clique */
button:active {
  transform: scale(0.95);
  box-shadow: 0 2px 6px rgba(0,0,0,0.3);
}

.encadre {
  border: 3px solid #ffffff;
  padding: 15px;
  margin: 20px auto;
  max-width: 600px;
  border-radius: 15px;
  background-color: rgba(255, 255, 255, 0.1); /* Légère transparence */
}